/* VARIABLES */
/* Break Points */
/* Fontfaces */
/* Font Sizes */
/* Header Sizes */
/* Image Width */
/* DEFAULTS */
/* Margins and Paddings */
* {
  margin: 0;
  padding: 0; }

/* Fontfaces */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif; }

body {
  font-family: "Roboto", sans-serif; }

/* Breakpoints */
html {
  font-size: 32px; }

h2, #search, .tag-list, .episode, .about {
  margin: auto;
  width: 100%; }

.episode img, .about img {
  width: 40%; }

@media only screen and (min-width: 992px) {
  html {
    font-size: 20px; }

  h2, #search, .tag-list, .episode, .about {
    width: 75%; } }
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px; }

  .episode img, .about img {
    width: 20%; } }
/* Header Sizes */
h1 {
  font-size: 2.3rem; }

h2 {
  font-size: 1.9rem; }

h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.8rem; }

h6 {
  font-size: 0.6rem; }
