/* Variables */

@import "break";

$h1-background: #607d8b;
$h2-background: #90a4ae;
$text-background: #ede7f6;
$body-background: #595959;

$header-color: white;
$nav-color: #ffffff;

$standard-margin: 4px;

body {
    background-color: $body-background;
}

.sticky {
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    background-color: $h2-background !important;
    width: 100%;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

h1, h2, footer {
    display: block;
    padding: 0.25rem;
    background-color: $h1-background;
    color: $header-color;
    text-align: center;
}

h2 {
    background-color: $h2-background;
}

#season-nav {
    background-color: $h1-background;
    li {
        a {
            color: $header-color;
            &:hover {
                color: darken($nav-color, 20%);
                -webkit-transition: color 0.2s;
                transition: color 0.2s;
            }
        }
    }
}

.nav {
    background-color: $body-background;
    list-style: none;
    li {
        display: inline-block;
        margin: 0 2%;
        a {
            color: $nav-color;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                color: darken($nav-color, 20%);
                -webkit-transition: color 0.2s;
                transition: color 0.2s;
            }
        }
    }
}

#search {
    display: block;
    background-color: $text-background;
    line-height: 2rem;
    padding: $standard-margin;
    margin: 8px auto !important;
    font-size: 200%;
    border-radius: 50px;
    border: 2px solid $header-color;
    box-sizing: border-box;
}

.tag-list {
    li {
        display: inline-block;
        padding: $standard-margin;
        margin: $standard-margin;
        border-radius: 50px;
        cursor: pointer;

        //prevent selection when double clicking (which users might do to skip past excluding a tag)
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .selected {
        border: 3px solid #00c853;
        //background-color: #a5d6a7 !important;
    }
    .removed {
        border: 3px solid #f44336;
        //background-color: #ef9a9a !important;
    }
    .character {
        background-color: #90caf9;
    }
    .planet {
        background-color: #b39ddb;
    }
    .species {
        background-color: #fff59d;
    }
}

.episode, .about {
    background-color: $text-background;
    padding: $standard-margin;
    padding-top: 2rem;
    overflow: hidden;
    position: relative;
    &:not(:first-child) {
        border-top: $standard-margin solid $h2-background;
    }
    img {
        margin: $standard-margin;
        float: left;
    }
    .description {
        overflow: hidden;
    }
    h3, .num, a {
        display: block;
        width: 15%;
        margin: $standard-margin;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f44336;
        color: $header-color;
        text-align: center;
        font-weight: bold;
        font-family: $monospace-font-family;
        border-radius: 50px;
    }
    h3 {
        background-color: #ffc107;
        width: 68%;
        margin: $standard-margin auto;
        padding: $standard-margin;
        right: 0;
    }
    a {
        background-color: #2196f3;
        left: auto;
        right: 0;
        text-decoration: none;
        &:hover {
            background-color: darken(#2196f3, 10%);
            color: lighten($header-color, 60%);
            -webkit-transition: background-color 0.5s, color 0.5s;
            transition: background-color 0.5s, color 0.5s;
        }
    }
}
footer {
    font-weight: bold;
}
