/* Variables */
/* VARIABLES */
/* Break Points */
/* Fontfaces */
/* Font Sizes */
/* Header Sizes */
/* Image Width */
/* DEFAULTS */
/* Margins and Paddings */
* {
  margin: 0rem;
  padding: 0rem; }

/* Fontfaces */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif; }

body, h3 {
  font-family: "Roboto", sans-serif; }

/* Breakpoints */
html {
  font-size: 32px; }

h2, #search, .tag-list, .episode {
  margin: auto;
  width: 100%; }

.episode h3 {
  margin-left: 40%; }
.episode img {
  width: 40%; }

@media only screen and (min-width: 992px) {
  html {
    font-size: 20px; }

  h2, #search, .tag-list, .episode {
    width: 75%; } }
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px; }

  .episode h3 {
    margin-left: 20%; }
  .episode img {
    width: 20%; } }
/* Header Sizes */
h1 {
  font-size: 2.3rem; }

h2 {
  font-size: 1.9rem; }

h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.8rem; }

h6 {
  font-size: 0.6rem; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #595959; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #90a4ae !important;
  width: 100%;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s; }

h1, h2, footer {
  display: block;
  padding: 0.25rem;
  background-color: #607d8b;
  color: white;
  text-align: center; }

h2 {
  background-color: #90a4ae; }

#season-nav {
  background-color: #607d8b; }
  #season-nav li a {
    color: white; }
    #season-nav li a:hover {
      color: #cccccc;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }

.nav {
  background-color: #595959;
  list-style: none; }
  .nav li {
    display: inline-block;
    margin: 0 2%; }
    .nav li a {
      color: #ffffff;
      font-weight: bold;
      text-decoration: none; }
      .nav li a:hover {
        color: #cccccc;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }

#search {
  display: block;
  background-color: #ede7f6;
  line-height: 2rem;
  padding: 4px;
  margin: 8px auto !important;
  font-size: 200%;
  border-radius: 50px;
  border: 2px solid white;
  box-sizing: border-box; }

.tag-list li {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  border-radius: 50px;
  cursor: pointer; }
.tag-list .selected {
  background-color: #a5d6a7 !important; }
.tag-list .character {
  background-color: #90caf9; }
.tag-list .mood {
  background-color: #ef9a9a; }
.tag-list .planet {
  background-color: #b39ddb; }
.tag-list .species {
  background-color: #fff59d; }
.tag-list .ship {
  background-color: #ffab91; }

.episode {
  background-color: #ede7f6;
  padding: 4px;
  padding-top: 2rem;
  overflow: hidden;
  position: relative; }
  .episode:not(:last-child) {
    border-bottom: 4px solid #90a4ae; }
  .episode img {
    margin: 4px;
    float: left; }
  .episode h3, .episode .num, .episode a {
    display: block;
    width: 15%;
    margin: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f44336;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: "Roboto Mono", monospace;
    border-radius: 50px; }
  .episode h3 {
    background-color: #ffc107;
    width: 68%;
    margin: 4px auto;
    right: 0; }
  .episode a {
    background-color: #2196f3;
    left: auto;
    right: 0;
    text-decoration: none; }
    .episode a:hover {
      background-color: #0c7cd5;
      color: white;
      -webkit-transition: background-color 0.5s, color 0.5s;
      transition: background-color 0.5s, color 0.5s; }
    .episode a::before {
      content: 'Wiki'; }

.longTitle {
  padding-top: 3.5rem; }

.longTitle2 {
  padding-top: 5rem; }
