/* Variables */

@import "break";

$h1-background: #9e9e9e;
$h2-background: #bfbfbf;
$text-background: #e6e6e6;
$nav-background: #595959;

$header-color: #404040;
$nav-color: #ffffff;

$link-font-weight: 500;

$standard-margin: 4px;


* {
    padding: 0;
    margin: 0;
}

.sticky {
    position: fixed;
    top: 0; left: 0;
    z-index: 10;
    background-color: $h2-background !important;
    width: 100%;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

h1, h2, footer {
    display: block;
    padding: 0.25rem;
    background-color: $h1-background;
    color: $header-color;
    text-align: center;
}

h2 {
    background-color: $h2-background;
}

#series-nav, #season-nav {
    background-color: $nav-background;
    list-style: none;

}

#season-nav {
    background-color: $h1-background;
    li {
        a {
            color: $header-color;
            &:hover {
                color: darken($header-color, 10%);
            }
        }
    }
}

.nav {
    li {
        margin: 0 2%;
        display: inline-block;
        a {
            color: $nav-color;
            font-weight: $link-font-weight;
            text-decoration: none;
            &:hover {
                color: darken($nav-color, 20%);
                -webkit-transition: color 0.2s;
                transition: color 0.2s;
            }
        }
    }
}

#search {
    display: block;
    background-color: $text-background;
    line-height: 2rem;
    padding: $standard-margin;
    margin: 8px auto !important;
    font-size: 200%;
    border-radius: 50px;
    border: 2px solid $header-color;
    box-sizing: border-box;
}

.tag-list {
    li {
        display: inline-block;
        padding: $standard-margin;
        margin: $standard-margin;
        border-radius: 50px;
        cursor: pointer;
    }
    .selected {
        background-color: #a5d6a7 !important;
    }
    .character {
        background-color: #90caf9;
    }
    .mood {
        background-color: #ef9a9a;
    }
    .planet {
        background-color: #b39ddb;
    }
    .species {
        background-color: #fff59d;
    }
    .ship {
        background-color: #ffab91;
    }
}

.episode {
    background-color: $text-background;
    padding: 4px;
    overflow: hidden;
    position: relative;
    &:not(:last-child) {
        border-bottom: $standard-margin solid white;
    }
    h3 {
        padding-left: $standard-margin * 2;
    }
    img {
        margin: $standard-margin;
        float: left;
    }
    .num, a {
        display: block;
        width: 8%;
        margin: $standard-margin;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $h2-background;
        color: $header-color;
        text-align: center;
        font-weight: bold;
        border-radius: 50px;
    }
    a {
        width: 15%;
        left: auto;
        right: 0;
        text-decoration: none;
        &:hover {
            background-color: darken($h2-background, 20%);
            color: lighten($header-color, 60%);
            -webkit-transition: background-color 0.5s, color 0.5s;
            transition: background-color 0.5s, color 0.5s;
        }
    }
}