<!DOCTYPE html>
<html>
    <head>
        <title>The Original Series</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab" rel="stylesheet">
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/6/67/Delta-shield.png">

        <link href="style/style.css" rel="stylesheet" type="text/css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/vdw/HideSeek/master/jquery.hideseek.min.js"></script>

    </head>
    <body>
        <a id="download" onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="the-original-series.html">Download</a>
        <nav>
            <ul class="nav" id="series-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="the-original-series.html">TOS</a></li>
                <li><a href="the-animated-series.html">TAS</a></li>
                <li><a href="the-next-generation.html">TNG</a></li>
                <li><a href="deep-space-nine.html">DS9</a></li>
                <li><a href="voyager.html">VOY</a></li>
                <li><a href="enterprise.html">ENT</a></li>
                <li><a href="discovery.html">DSC</a></li>
            </ul>
        </nav>
        <header>
            <h1 id="top">The Original Series</h1>
        </header>
        <main>

            <ul class="nav" id="season-nav">
                <li><a href="#series-nav">All Series</a></li>
                <li><a href="#season-0">Pilot</a></li>
                <li><a href="#season-1">S1</a></li>
                <li><a href="#season-2">S2</a></li>
                <li><a href="#season-3">S3</a></li>
            </ul>

            <section class="search">

                <input id="search" name="search" placeholder="Search tags" type="text" data-list=".tag-list" autocomplete="off">

                <script src="js/tag-list.js"></script>
                <ul class="tag-list"></ul>
                <script src="importContent.js"></script>
                <script src="js/formatting.js"></script>

            </section>

            <section class="season" id="season-0">

                <h2>Pilot</h2>

                <article class="episode character-christopher-pike character-spock planet-talosiv species-talosian">
                    <h3></h3><span class="num">0x01</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

            </section>

            <section class="season" id="season-1">

                <h2>Season 1</h2>

                <article class="episode character-hikarusulu character-jameskirk character-montgomeryscott character-spock">

                    <h3></h3><span class="num">1x01</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-janicerand character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x02</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-harrymudd character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x03</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-janicerand character-leonardmccoy character-montgomeryscott character-spock">

                    <h3></h3><span class="num">1x04</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-janicerand character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x05</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-janicerand character-kevinriley character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x06</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-janicerand character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x07</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-angelamartine character-hikarusulu character-jameskirk character-janicerand character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock species-romulan">

                    <h3></h3><span class="num">1x08</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-jameskirk character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x09</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x10</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-janicerand character-leonardmccoy character-spock">

                    <h3></h3><span class="num">1x11</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-janicerand character-kevinriley character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x12</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x13</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x14</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christopher-pike character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock planet-talosiv species-talosian">

                    <h3></h3><span class="num">1x15</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christopher-pike character-jameskirk character-leonardmccoy character-montgomeryscott character-spock planet-talosiv species-talosian">

                    <h3></h3><span class="num">1x16</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-angelamartine character-hikarusulu character-jameskirk character-leonardmccoy character-nyotauhura character-spock planet-shoreleave">

                    <h3></h3><span class="num">1x17</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x18</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock species-gorn">

                    <h3></h3><span class="num">1x19</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x20</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock planet-earth">

                    <h3></h3><span class="num">1x21</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x22</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x23</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x24</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x25</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-spock">

                    <h3></h3><span class="num">1x26</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kor character-nyotauhura character-spock species-klingon species-organian">

                    <h3></h3><span class="num">1x27</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock planet-earth">

                    <h3></h3><span class="num">1x28</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">1x29</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

            </section>

            <section class="season" id="season-2">

                <h2>Season 2</h2>

                <article class="episode character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x01</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">2x02</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock species-klingon">

                    <h3></h3><span class="num">2x03</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x04</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-nyotauhura character-pavelchekov character-spock character-tpau planet-vulcan species-vulcan">

                    <h3></h3><span class="num">2x05</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-spock">

                    <h3></h3><span class="num">2x06</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-spock">

                    <h3></h3><span class="num">2x07</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">2x08</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x09</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x10</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x11</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-harrymudd character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">
                    <h3></h3><span class="num">2x12</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-arnedarvin character-cyranojones character-jameskirk character-koloth character-korax character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock species-klingon species-tribble">

                    <h3></h3><span class="num">2x13</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x14</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-amandagrayson character-christinechapel character-jameskirk character-leonardmccoy character-nyotauhura character-pavelchekov character-sarek character-spock planet-vulcan species-andorian species-orion species-tellarite species-vulcan">

                    <h3></h3><span class="num">2x15</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock species-klingon">

                    <h3></h3><span class="num">2x16</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x17</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x18</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x19</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x20</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x21</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">2x22</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x23</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">2x24</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-nyotauhura character-spock">

                    <h3></h3><span class="num">2x25</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock planet-earth">

                    <h3></h3><span class="num">2x26</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

            </section>

            <section class="season" id="season-3">

                <h2>Season 3</h2>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x01</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock species-klingon">

                    <h3></h3><span class="num">3x02</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x03</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock species-romulan">

                    <h3></h3><span class="num">3x04</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x05</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x06</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x07</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-spock">

                    <h3></h3><span class="num">3x08</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock species-tholian">

                    <h3></h3><span class="num">3x09</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x10</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-kang character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x11</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">3x12</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x13</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">3x14</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x15</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock species-andorian species-orion species-tellarite">

                    <h3></h3><span class="num">3x16</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x17</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-kyle character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x18</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">3x19</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x20</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-spock">

                    <h3></h3><span class="num">3x21</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-nyotauhura character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x22</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-jameskirk character-leonardmccoy character-spock">

                    <h3></h3><span class="num">3x23</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

                <article class="episode character-christinechapel character-hikarusulu character-jameskirk character-leonardmccoy character-montgomeryscott character-pavelchekov character-spock">

                    <h3></h3><span class="num">3x24</span>
                    <img src="">
                    <p></p>
                    <a href="" target="_blank">Wiki</a>
                </article>

            </section>

        </main>
        <footer>
            Made by Alexander Mot
        </footer>
    </body>
</html>
